@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark-blue: hsl(209, 23%, 22%);
  /* Dark Mode Elements */
  --color-very-dark-blue: hsl(207, 26%, 17%);
  /* Dark Mode Background */
  --color-very-dark-blue-text: hsl(200, 15%, 8%);
  /* Light Mode Text */
  --color-dark-gray: hsl(0, 0%, 52%);
  /* Light Mode Input */
  --color-very-light-gray: hsl(0, 0%, 98%);
  /* Light Mode Background */
  --color-white: hsl(0, 0%, 100%);
  /* Dark Mode Text & Light Mode Elements */
  --breakpoint-2xl: 90rem;
  --font-nunito-sans: "Nunito Sans", sans-serif;
}